{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>AI Techniques</h1>

        <p>This area of the site is to practice various AI techniques. Right now, I am focusing on text analysis using NLP. Text analysis is the process of extracting meaningful information, patterns, and insights from unstructured text data.
            Natural Language Processing (NLP) is the field of artificial intelligence that enables computers to understand,
            interpret, and generate human language, for example Google Assistant and Alexa.</p>

        <p>Use the links above to navigate.</p>

    </div>
    {% include 'footer.html' %}
</body>
</html>